.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 90vh !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes rotate-reverse {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate-image {
  animation: rotate 5s ease-in-out; /* Rotate infinitely with a duration of 5 seconds */
}

.rotate-image-reverse {
  animation: rotate-reverse 5s ease-in-out; /* Rotate infinitely with a duration of 5 seconds */
}
